@import "./mixins/card-styles.mixin";

@media only screen and (max-width: 400px) {
  .category-page {
    .category-products {
      .row {
        .items {
          grid-template-columns: 100% !important;

          @include cardStyle;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .category-page {
      .hero-img-bg {
        .text-content {
          top: 20%;
          .category-desc {
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 972px) {
  .App {
    .category-page {
      .text-content {
        .title {
          font-size: 1.8rem !important;
        }
      }

      .category-products {
        .row {
          .items {
            grid-template-columns: 50% 50%;

            @include cardStyle;
          }
        }
      }
    }
  }
}
