* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "AvenirNext";
}

ul,
li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.product-link {
  color: #000;
  flex-grow: 1;
}

.overlay.active {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 350ms linear 0s;
  z-index: 10001;
}

.Scroll-deactivate {
  overflow: hidden;
}

.loader {
  border: 0.3rem solid #f3f3f3; /* Light grey */
  border-top: 0.3rem solid #9a9a9a; /* Blue */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
